.service-option {
	font-weight: 600;
	font-size: 40px;
	margin: 0 32px;
	opacity: 0.5;
	transition: all .2s ease;
	cursor: pointer;
}
.service-option.active {
	opacity: 1;
}

.cp-switch {
	display: block;
}
.cp-switch .cp-input {
	display: none;
}
.cp-switch .cp-slider {
	position: relative;
	display: inline-block;
	height: 8px;
	width: 32px;
	border-radius: 8px;
	cursor: pointer;
	background: #ffa950;
	transition: all 0.2s ease;
}
.cp-switch .cp-slider:after {
	background: #ef6920;
	position: absolute;
	left: -8px;
	top: -8px;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	box-shadow: 0px 2px 2px rgb(0 0 0 / 20%);
	content: "";
	transition: all 0.2s ease;
}
.cp-switch .cp-input:checked ~ .cp-slider {
	background: #84b9ff;
}
.cp-switch .cp-input:checked ~ .cp-slider:after {
	background: #1a73e8;
	left: 16px;
}
