@media screen and (min-width: 1396px) {

	#mainMenu {
		float: left;
	}
	/* #menuToggler {
		display: none!important;
	} */
	/* #pageContainer {
		margin-left: 240px;
	} */
	#resultsFound {
		overflow-y: auto;
		max-height: calc(100vh - 200px);
	}
	#riepilogoOrdine {
		width: 240px;
		min-width: 240px;
	}
	#editPizzaComposition .w3-modal-content {
		width: calc(100vw - 248px);
	}
	#mainMenu [mobile] {
		display: none;
	}

}
