#splash .title {
	font-size: 44px;
}

#splash .subtitle {
	color: #5f6368;
	font-size: 18px;
}

@media (min-width: 992px) {
	.reducer {
		max-width: 600px;
	}
	.fixer {
		width: 332px;
		margin-left: auto;
	}
	.fixer .card {
		width: 100%;
	}
}
.reducer {
	padding: 32px;
}
.fixer {
	padding: 16px;
}
