

@media (min-width: 992px) {
	.reducer {
		max-width: 645px;
	}
	.fixer {
		width: 347px;
		margin-left: auto;
	}
	.fixer .card {
		width: 100%;
	}
}
.reducer {
	padding: 64px 32px;
}
.fixer {
	padding: 16px;
}
