@charset "UTF-8";
body {
	font-family: "RobotoDraft", "Roboto", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}
#pageContainer {
	padding: 0 12px;
}
#topBar {
	position: static;
}
.dual-vis {
	display: flex;
	width: 200%;
	transition: transform .25s;
}
.dual-vis > .vis {
	width: 100%;
}
.dual-vis.toggled {
	transform: translateX(-50%);
}
.login-container {
	padding: 48px 40px 40px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	margin: 48px auto auto;
	width: 100%;
	max-width: 448px;
}
.whole-page {
	width: 100%;
	display: flex;
}
.login-text {
	font-size: 24px;
	text-align: center;
	padding-bottom: 32px;
}
.submit-login:hover {
	background-color: #1b66c9;
}
.submit-login {
	font-weight: 500;
	color: white;
	padding: 0 24px;
	height: 36px;
	display: flex;
	align-items: center;
	font-size: 16px;
	margin-right: 1px;
}
.login-container a {
	font-size: 14px;
	font-weight: 600;
}
.new-account {
	display: flex;
	align-items: center;
}
.login-container .forgot-password {
	margin: 0 0 40px;
	/* text-align: center; */
}


.login-container .mail-sent {
	color: #6fbf6e;
}
.login-container .password-reset {
	color: #6fbf6e;
	font-size: 16px;
	margin-top: 32px;
}
.login-container .login-failed {
	color: #ff5c5c;
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 8px;
}
.login-container .login-failed, .login-container .mail-sent, .password-reset {
	text-align: center;
}
.login-container .input-container {
	position: relative;
}
.login-container .input-container:not(:last-child) {
	margin-bottom: 36px;
}
.login-container .input-container input {
	outline: none;
	z-index: 1;
	position: relative;
	background: none;
	width: 100%;
	height: 60px;
	border: 0;
	color: #212121;
	font-size: 16px;
	font-weight: 400;
	padding-left: 24px;
}
.login-container .input-container input:focus ~ label {
	color: #9d9d9d;
	transform: translate(-12%, -65%) scale(0.75);
}
.login-container .input-container input:focus ~ .bar:before, .login-container .input-container input:focus ~ .bar:after {
	width: 50%;
}
.login-container .input-container input:valid ~ label {
	color: #9d9d9d;
	transform: translate(-12%, -65%) scale(0.75);
}
.login-container .input-container label {
	position: absolute;
	top: 0;
	left: 0;
	color: #757575;
	font-size: 16px;
	font-weight: 300;
	line-height: 54px;
	transition: 0.2s ease;
}
.login-container .input-container .bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #757575;
	width: 100%;
	height: 1px;
}
.login-container .input-container .bar:before, .login-container .input-container .bar:after {
	content: "";
	position: absolute;
	background: #267ae9;
	width: 0;
	height: 2px;
	transition: 0.2s ease;
}
.login-container .input-container .bar:before {
	left: 50%;
}
.login-container .input-container .bar:after {
	right: 50%;
}
.login-container .button-container {
	margin: 0 60px;
	text-align: center;
}
.login-container .button-container button {
	outline: 0;
	cursor: pointer;
	position: relative;
	display: inline-block;
	background: 0;
	width: 240px;
	border: 2px solid #e3e3e3;
	padding: 20px 0;
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.3s ease;
}
.login-container .button-container button span {
	position: relative;
	z-index: 1;
	color: #ddd;
	transition: 0.3s ease;
}
.login-container .button-container button:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background: #267ae9;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: -15px 0 0 -15px;
	opacity: 0;
	transition: 0.3s ease;
}
.login-container .button-container button:hover, .login-container .button-container button:active, .login-container .button-container button:focus {
	border-color: #267ae9;
}
.login-container .button-container button:hover span, .login-container .button-container button:active span, .login-container .button-container button:focus span {
	color: #267ae9;
}
.login-container .button-container button:active span, .login-container .button-container button:focus span {
	color: #ffffff;
}
.login-container .button-container button:active:before, .login-container .button-container button:focus:before {
	opacity: 1;
	transform: scale(10);
}
/* Keyframes */
@-webkit-keyframes
