
#logo {
	color: #5f6368;
	display: inline-flex;
}
#logo img {
	height: 48px;
}
#logo span {
	line-height: 48px;
	padding-left: 6px;
	font-size: 32px;
	font-weight: bold;
}

* {
	font-family: 'Roboto', sans-serif;
}
a {
	color: white;
}
@media screen {

	#printable {
		display: none;
	}

}
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}
#topBar {
	height: 64px;
	padding: 8px;
	top: 0;
	width: 100vw;
	background-color: #fff;
}
#menuToggler {
	font-size: 24px;
	color: #5f6368;
	cursor: pointer;
	padding: 0 12px;
	margin: 0 4px;
	border-radius: 100%;
}
#pageContainer {
	padding-top: 100px;
}
#mainMenu, #topBar {
	/* color: white; */
	position: fixed;
}
#mainMenu {
	cursor: default;
	width: 320px;
	height: calc(100vh);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	transition: transform .25s ease-in-out;
	background-color: #fff;
	box-shadow: 2px 2px 4px #00000066;
}
body:not(.menu-open) #mainMenu {
	transform: translateX(-400px);
}
body.menu-open #mainMenuBackdrop {
	position:fixed;
	top: 0;
	/* top: 64px; */
	left: 0;
	right: 0;
	bottom: 0;
	/* cursor: pointer; */
}
#mainMenu .main-link .main-link-description {
	padding-left: 24px;
}
#mainMenu [main-menu-link] {
	margin-left: auto;
}
#mainMenuBackdrop, #mainMenu, #topBar {
	z-index: 1000;
}
#mainMenu .main-link {
	font-size: 20px;
	color: #3c4043;
}
#mainMenu .main-link:hover {
	color: #1967d2;
	text-decoration: initial;
}
#mainMenu .main-link:hover .link-block {
	background-color: #f1f3f4;
}
#mainMenu .main-link .link-block {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 12px;
}
#scrollpage {
	/* overflow-y: auto;
	max-height: calc(100vh - 100px); */
}
.modal-topbar {
	font-size: 30px;
}
.actionable:hover {
	background-color: rgba(95,99,104,0.157);
}
.modal-topbar .action-container {
	padding: 16px;
	width: 75px;
	height: 75px;
	text-align: center;
	cursor: pointer;
	border-radius: 100%;
}
label {
	margin-bottom: 0px;
}
.sticky-toolbar {
	background-color: white;
	top: 100px;
	z-index: 1;
	position: -webkit-sticky;
	position: sticky;
}
.ml-auto {
	margin-left: auto!important;
}
.mr-auto {
	margin-right: auto!important;
}
.mt-auto {
	margin-top: auto!important;
}
.mb-auto {
	margin-bottom: auto!important;
}
.cursor-auto {
	cursor: auto!important;
}
.d-flex, .v-flex, .flex-wrap  {
	display: -webkit-flex;
	display: flex!important;
}
.v-flex {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-1 {
	flex-grow: 1;
}
[hidden] {
	display: none !important;
}
.scroll-on-left {
	direction: rtl;
}
.scroll-on-left > * {
	direction: ltr;
}
.parent-to-be-hovered:not(:hover) .show-on-parent-hover {
	visibility: hidden;
}
.modal-closer {
	padding: 5px 16px;
	font-size: 24px;
	cursor: pointer;
}
.modal-container .w3-container {
	padding-top: 16px;
}
.w3-modal.modal-container > .modal-backdrop {
	z-index: 1;
	background-color: initial;
	display: block;
}
.w3-modal.modal-container .w3-modal-content {
	z-index: 4;
	padding: 12px;
}
.col-300 {
	width: 50%;
	min-width: 300px;
	max-width: 500px;
	padding: 2px 48px;
}
@media (max-width: 991px) {
	.card:not(:last-child) {
		margin-right: 16px;
	}
	.card {
		min-width: 300px;
		width: 50%;
	}
}
.card {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 16px;
	border-radius: 6px;
	margin-bottom: 12px;
}
.input-block {
	margin-bottom: 12px;
}
.text-right {
	text-align: right;
}
.md-input {
	height: 56px;
	padding: 12px 16px;
}
.md-input-xs {
	height: 18px;
	padding: 12px 4px 11px;
}
.md-input-md {
	height: 38px;
	padding: 6px 12px;
}
.md-input, .md-input-xs, .md-input-md {
	border-radius: 4px;
	border: 1px solid grey;
	font-size: 16px;
}
.input-block {
	margin-bottom: 16px;
}
.btn, .fab, .fab-extended {
	border: none;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
.btn {
	padding: 8px 16px;
}
.fab, .fab-extended {
	position: fixed;
	bottom: 16px;
	right: 16px;
	border-radius: 28px;
}
.fab-extended {
	font-size: 21px;
	padding: 0px 16px;
	height: 40px;
}
.fab {
	height: 48px;
	line-height: 36px;
	font-size: 30px;
	width: 48px;
}
.small-round-button {
	border-radius: 16px;
	cursor: pointer;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	width: 16px;
	text-align: center;
}
.list-block {
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	line-height: 16px;
	max-width: 250px;
	padding: 16px 32px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.list-block:first-child {
	border-top: 1px solid #ccc;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.list-block:last-child {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
.list-block.selected {
	background-color: #b8f3ff;
}
.general-heading {
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	margin-top: 16px;
}
.scroll-x {
	/* width: 100vw; */
	overflow-x: auto;
}
.bros-16-between:first-child {
	padding-right: 8px;
}
.bros-16-between:last-child {
	padding-left: 8px;
}
.w100p {
	width: 100%;
}
.filter-orders-by-type .filter-tab {
	font-size: 26px;
	padding: 12px 24px;
	cursor: pointer;
	font-weight: 500;
	border-bottom: 2px solid transparent;
}
.filter-orders-by-type .filter-tab.selected {
	border-bottom: 2px solid #0564e0;
	color: #0564e0;
}
.login-button:hover {
	color: #202124;
	background-color: #ececec;
}
.login-button {
	padding: 0 12px;
	border-radius: 4px;
	color: #5f6368;
	font-size: 16px;
	height: 48px;
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.md-checkbox-lg {
	font-size: 22px;
	line-height: 20px;
	padding: 12px 32px;
	border-radius: 6px;
	border: 1px solid #ccc;
	cursor: pointer;
	margin-bottom: 12px;
}
.md-checkbox-lg.selected {
	background-color: #e4f6fe;
	border: 1px solid #00A8FF;
	color: black;
}
.md-checkbox-lg .order-pricing {
	font-size: 14px;
}
.md-checkbox-lg:not(.selected) {
	border: 1px solid #bbb;
	color: #bbb;
}
#splash .title {
	font-size: 44px;
	line-height: 52px;
	padding-bottom: 22px;
}

#splash .subtitle {
	color: #5f6368;
	font-size: 18px;
	line-height: 24px;
}
.overflow-hidden {
	overflow: hidden;
}
