.expense-category {
	padding: 12px 6px 12px 6px;
}
#tableContainer {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
#tableContainer thead tr, #tableContainer tr:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
