#tabSwitcher {
	padding: 16px;
}
[order-component] {
	/* padding: 16px; */
	max-height: calc(100vh - 110px);
	overflow-y: auto;
}
#finder {
	/* font-size: 20px; */
}
#boxOrdini {
	min-width: 300px;
}
#customersBox, #boxOrdini {
	padding: 12px 12px 0 12px;
}
#toPrepping:hover {
	background-color: #ffcc80!important;
}
#toPrepping.orange-700:hover {
	background-color: #f57c00!important;
}
#toPrepping {
	border-top-left-radius: 10px;
}
#editPizzaComposition .w3-modal-content {
	height: 100vh;
	margin-left: 0;
	padding: 0;
}
.js-deliverable {
	height: 24px;
	width: 24px;
}
#toDelivering:hover {
	background-color: #b3e5fc!important;
}
#toDelivering.light-blue-200:hover {
	background-color: #81d4fa!important;
}
#toDelivering {
	border-top-right-radius: 10px;
}
#toPrepping, #toDelivering {
	width: 50%;
	color: black;
}
[prezzo-aggiunto]:before {
	content: '€';
}
#pendingOrders .info-cliente {
	border-bottom: 2px solid #f57c00;
}
.info-cliente {
	border-bottom: 2px solid #03a9f4;
	cursor: pointer;
}
.info-cliente .info-container {
	margin: 10px 0;
	padding: 12px;
}
#boxOrdini .info-cliente .info-container {
	margin: 6px 0;
	padding: 8px;
}
.info-cliente .nome-cliente {
	font-size: 16px;
}
.info-cliente .pizze-ordinate {
	font-size: 16px;
	font-weight: bold;
	color: #003c77;
}
.info-cliente .indirizzo-cliente, .info-cliente .telefono-cliente {
	color: #70757A;
	font-size: 13px;
}
#totaleOrdine [tot-text]:after {
	content: '€';
}
#totaleOrdine {
	font-size: 20px;
	font-weight: bold;
	color: #1a73e8;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
#totaleOrdine .tot-label {

}
#totaleOrdine [tot-text] {
	padding: 0px 16px;
	text-align: right;
}
.context-function {
	width: 120px;
	font-size: 18px;
	padding: 12px 0 10px;
	text-align: center;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin: 2px;
}
.tabs-container {
	font-size: 24px;
	padding: 16px 16px 0;
}
.tabs-container .tab.selected {
	/*
	border-top: 2px solid orange;
	border-left: 2px solid orange;
	border-right: 2px solid orange;
	border-bottom: 2px solid transparent;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	 */
	border-bottom: 2px solid #0564e0;
	color: #0564e0;
}
.tabs-container .tab:not(.selected) {
	border-bottom: 2px solid transparent;
	/*
	border-bottom: 2px solid orange;
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
	 */
}
.tabs-container .tab {
	padding: 6px 26px 4px;
	cursor: pointer;
	text-align: center;
	font-weight: 500;
	line-height: 24px;
}
.tab > .tab-icon {
	padding-right: 4px;
}
/* .order-modal {
	padding-top: 0;
} */
/* #categorieContainer, #elencoPiatti, #categorieIngredientiContainer, #elencoIngredienti {
	margin-top: 12px;
} */
#elencoPiatti {
	padding: 0 16px;
}
.categoria.finder-container {
	position: relative;
}
.finder-container .finder-icon {
	position: absolute;
	top: 8px;
	left: 16px;
}
.finder-container .finder-input {
	outline-offset: 0px;
	height: 28px;
	width: 130px;
	padding-left: 30px;
}
.notes-container {
	padding: 16px;
}
#categorieIngredientiContainer .categoria {
	/* background-color: #bfffbf; */
}
#categorieContainer .categoria {
	/* background-color: #ffff9c; */
}
#boxOrdini {
	max-height: calc(100vh - 200px);
	max-width: 30%;
	overflow-y: auto;
}
#scrollTimeFilter {
	max-height: calc(100vh - 200px);
	height: calc(100vh - 200px);
	overflow-y: auto;
}
.item.selected {
	background-color: #e8ffb7;
}
#contexts {
	margin-top: auto;
}
/* #elencoPiatti .piatto, #elencoIngredienti .ingrediente, .context-function {
	margin-right: -1px;
	margin-bottom: -1px;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
} */
.item [metapizza] {
	padding: 2px;
	text-align: center;
}
.item [price]:before {
	content: '€';
}
.item [ingrediente], .item [aggiunta], .item [impasto], .item [tag], .item [dimensione], .item [quantity], .item [main], .item [metapizza] {
	cursor: pointer;
	font-size: 18px;
}
.item [main], .item [quantity] {
	font-size: 22px;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
}
.item [quantity] {
	padding-left: 16px;
	padding-right: 16px;
}
.item [ingrediente], .item [aggiunta], .item [impasto], .item [tag], .item [dimensione] {
	padding-left: 30px;
}
.item [aggiunta], .item [ingrediente].without-ingredient, .item [metapizza] {
	font-weight: bold;
}
.item [ingrediente].without-ingredient {
	text-decoration: line-through;
	color: #c30000;
}
#scrollOrdine {
	max-height: calc(100vh - 220px);
	overflow-y: auto;
}
#addOrderModal {
	z-index: 7;
}
#addOrderModal .order-modal-content {
	width: 100vw;
	height: 100vh;
	padding: 0;
	overflow: auto;
}
.open-customer-container {
	width: 30px;
	height: 100%;
	background-color: #cbefff;
}
.open-customer {
	color: #008bca;
	font-size: 30px;
}
#timetable {
	padding: 0 16px;
}
#scrollTimeTable {
	overflow-y: auto;
	max-height: calc(100vh - 316px);
}
.timetable-row {
	border: 1px solid #888;
	cursor: pointer;
}
.timetable-row {
	margin-bottom: -1px;
	height: 30px;
	font-size: 20px;
}
.timetable-row .time {
	margin-left: auto;
	padding: 0 12px;
}
.timetable-row .order-n {
	min-width: 32px;
	padding: 0 8px;
	border-right: 1px solid #888;
}
.timetable-row.selected {
	background-color: #b8f3ff;
	font-weight: bold;
}
#importi {
	border: 1px solid #55555588;
	margin-bottom: -1px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 8px 22px;
	height: 70px;
}
#importi > * {
	font-size: 24px;
	width: 70px;
	padding: 12px 0;
}
#importi #totale {
	text-align: left;
}
#importi #inputImporto {
	text-align: center;
}
#importi #restoCalcolato {
	text-align: right;
}
#tastiera [tasto]:active {
	background-color: #ccc;
}
#tastiera [tasto] {
	width: 86px;
	height: 86px;
	line-height: 86px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #55555588;
	margin: 0 -1px -1px 0;
}

#tastiera > div:last-child [tasto]:first-child {
	border-bottom-left-radius: 20px;
}
#tastiera > div:last-child [tasto]:last-child {
	border-bottom-right-radius: 20px;
}
#clientiTrovatiDT {
	width: 100%;
	max-width: 800px;
}
#deliveryTo {
	width: 400px;
}
.card__subhead.text-right {
	padding-left: 32px;
}
.card__subhead.text-left {
	padding-right: 32px;
}
