#tabSwitcher {
	margin: 16px;
}
[order-component] {
	/* padding: 16px; */
	max-height: calc(100vh - 110px);
	overflow-y: auto;
}
#deliveryToForm {
	max-height: calc(100vh - 140px);
	overflow-y: auto;
}
#finder {
	font-size: 20px;
}
#boxOrdini {
	min-width: 300px;
}
#customersBox, #boxOrdini {
	margin: 12px 12px 0 12px;
}
#toPrepping:hover {
	background-color: #ffcc80!important;
}
#toPrepping.orange-700:hover {
	background-color: #f57c00!important;
}
#toPrepping {
	border-top-left-radius: 10px;
}
#editPizzaComposition .w3-modal-content {
	height: 100vh;
	margin-left: 0;
	padding: 0;
}
.js-deliverable {
	height: 24px;
	width: 24px;
}
#toDelivering:hover {
	background-color: #b3e5fc!important;
}
#toDelivering.light-blue-200:hover {
	background-color: #81d4fa!important;
}
#toDelivering {
	border-top-right-radius: 10px;
}
#toPrepping, #toDelivering {
	width: 50%;
	color: black;
}
#pendingOrders .info-cliente {
	border-bottom: 2px solid #f57c00;
}
.info-cliente {
	border-bottom: 2px solid #03a9f4;
	cursor: pointer;
}
.info-cliente .info-container {
	margin: 10px 0;
	padding: 12px;
}
#boxOrdini .info-cliente .info-container {
	margin: 6px 0;
	padding: 8px;
}
.info-cliente .nome-cliente {
	font-size: 16px;
}
.info-cliente .pizze-ordinate {
	font-size: 16px;
	font-weight: bold;
	color: #003c77;
}
.info-cliente .indirizzo-cliente, .info-cliente .telefono-cliente {
	color: #70757A;
	font-size: 13px;
}
.md-checkbox-lg {
	font-size: 22px;
	line-height: 20px;
	padding: 12px 32px;
	border-radius: 6px;
	border: 1px solid #ccc;
	cursor: pointer;
	margin-bottom: 12px;
}
.md-checkbox-lg.selected {
	background-color: #e4f6fe;
	border: 1px solid #00A8FF;
	color: black;
}
.md-checkbox-lg .order-pricing {
	font-size: 14px;
}
.md-checkbox-lg:not(.selected) {
	border: 1px solid #bbb;
	color: #bbb;
}
#totaleOrdine:before {
	content: '€';
}
#totaleOrdine {
	background-color: #a2ffa4;
	font-size: 40px;
	border: 1px solid green;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 0px 16px;
}
.context-function {
	width: 120px;
	font-size: 16px;
	padding: 4px 8px;
	cursor: pointer;
	border: 1px solid black;
}
.tabs-container {
	font-size: 24px;
	margin-top: 12px;
	padding: 16px 16px 0;
}
.tabs-container .tab.selected {
	border-top: 2px solid orange;
	border-left: 2px solid orange;
	border-right: 2px solid orange;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 2px solid transparent;
}
.tabs-container .tab:not(.selected) {
	border-bottom: 2px solid orange;
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
}
.tabs-container .tab:not(:last-child) {
	margin-right: -1px;
}
.tabs-container .tab {
	padding: 6px 12px 2px;
	cursor: pointer;
}
.order-modal {
	padding-top: 0;
}
/* #categorieContainer, #elencoPiatti, #categorieIngredientiContainer, #elencoIngredienti {
	margin-top: 12px;
} */
.categoria {
	font-size: 20px;
	border: 1px solid red;
	width: 160px;
	padding: 6px 12px;
	cursor: pointer;
}
#categorieIngredientiContainer .categoria {
	background-color: #bfffbf;
}
#categorieContainer .categoria {
	background-color: #ffff9c;
}
#categorieIngredientiContainer .categoria.selected {
	background-color: lime;
}
#categorieContainer .categoria.selected {
	background-color: yellow;
}
#elencoPiatti .piatto {
	background-color: orange;
}
#elencoIngredienti .ingrediente {
	background-color: #d5ff99;
	/* color: white; */
}
#elencoIngredienti .ingrediente.selected {
	background-color: #89e800;
}
#elencoIngredienti .ingrediente [selecting-mark] {
	padding-right: 8px;
}
#elencoIngredienti .ingrediente:not(.selected) [selecting-mark] {
	display: none;
}
#elencoPiatti .piatto, #elencoIngredienti .ingrediente {
	font-size: 16px;
	width: 120px;
	border: 1px solid green;
	padding: 4px 8px;
	cursor: pointer;
}
.item.selected {
	background-color: #e8ffb7;
}
#contexts {
	margin-top: auto;
}
#elencoPiatti .piatto, #elencoIngredienti .ingrediente, .categoria, .context-function {
	margin-right: -1px;
	margin-bottom: -1px;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.item [metapizza] {
	padding: 2px;
	text-align: center;
}
.item [price]:before {
	content: '€';
}
.item [ingrediente], .item [aggiunta], .item [impasto], .item [tag], .item [dimensione], .item [quantity], .item [main], .item [metapizza] {
	cursor: pointer;
	font-size: 18px;
}
.item [main], .item [quantity] {
	font-size: 22px;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
}
.item [quantity] {
	padding-left: 16px;
	padding-right: 16px;
}
.item [ingrediente], .item [aggiunta], .item [impasto], .item [tag], .item [dimensione] {
	padding-left: 30px;
}
.item [aggiunta], .item [ingrediente].without-ingredient, .item [metapizza] {
	font-weight: bold;
}
.item [ingrediente].without-ingredient {
	text-decoration: line-through;
	color: #c30000;
}
#scrollOrdine {
	max-height: calc(100vh - 220px);
	overflow-y: auto;
}
#totaleOrdine {
	text-align: right;
}
#deliveryTo {
	/* border: 1px solid black; */
	/* border-radius: 16px; */
	padding: 16px;
}
#addOrderModal .order-modal-content {
	width: 100vw;
	height: 100vh;
	padding: 0;
}
.open-customer-container {
	width: 30px;
	height: 100%;
	background-color: #cbefff;
}
.open-customer {
	color: #008bca;
	font-size: 30px;
}
#timetable {
	padding: 0 16px;
}
#scrollTimeTable {
	overflow-y: auto;
	max-height: calc(100vh - 200px);
}
.timetable-row {
	border: 1px solid #888;
	cursor: pointer;
}
.timetable-row {
	margin-bottom: -1px;
	height: 30px;
	font-size: 20px;
}
.timetable-row .time {
	margin-left: auto;
	padding: 0 12px;
}
.timetable-row .order-n {
	min-width: 32px;
	padding: 0 8px;
	border-right: 1px solid #888;
}
.timetable-row.selected {
	background-color: #b8f3ff;
	font-weight: bold;
}
#importi {
	border: 1px solid #55555588;
	margin-bottom: -1px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 8px 22px;
	height: 70px;
}
#importi > * {
	font-size: 24px;
	width: 70px;
	padding: 12px 0;
}
#importi #totale {
	text-align: left;
}
#importi #inputImporto {
	text-align: center;
}
#importi #restoCalcolato {
	text-align: right;
}
#tastiera [tasto]:active {
	background-color: #ccc;
}
#tastiera [tasto] {
	width: 86px;
	height: 86px;
	line-height: 86px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #55555588;
	margin: 0 -1px -1px 0;
}

#tastiera > div:last-child [tasto]:first-child {
	border-bottom-left-radius: 20px;
}
#tastiera > div:last-child [tasto]:last-child {
	border-bottom-right-radius: 20px;
}
