body > :not(#printable) {
	display: none !important;
}
#printable {
	font-family: Roboto;
	font-size: 20px;
	padding: 0 16px 64px;
	border-bottom: 1px solid #888;
}
#printable .label {
	line-height: 12px;
}
#printable .value {
	line-height: 30px;
	font-size: 30px;
	padding-bottom: 32px;
}
#printable .data {
	text-align: right;
}
#printable .pizza-heading {
	font-size: 30px;
	padding-top: 32px;
}
#printable [pizza-quantity] {
	padding-right: 16px;
}
#printable [pizza-aggiunta], #printable [without] {
	font-weight: bold;
	text-align: center;
}
#qrcode_printable {
}
#qrcode_printable > canvas {
	width: 80vw;
	height: 80vw;
	max-width: 500px;
	max-height: 500px;
	min-width: 100px;
	min-height: 100px;
	margin: 0 calc(10vw - 16px);
}
