body > :not(#printable) {
	display: none !important;
}
#printable {
	font-family: Roboto;
	font-size: 20px;
	padding: 0 0px 128px;
	border-bottom: 2px solid #000;
}
#printable .label {
	line-height: 12px;
}
#printable .value {
	line-height: 32px;
	font-size: 24px;
	padding-bottom: 16px;
}
#printable .data {
	text-align: right;
}
#printable .pizza-heading {
	font-size: 22px;
	padding-top: 2px;
}
#printable [pizza-quantity] {
	padding-right: 16px;
}
#printable [pizza-aggiunta], #printable [without] {
	font-weight: bold;
	text-align: center;
}
#qrcode_printable {
	display: flex;
}
#qrcode_printable > canvas {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
#printable [totale-ordine]:before {
	content: '€';
}
#printable [totale-ordine] {
	font-size: 20px;
	text-align: right;
}
